<p id="notice"><%= notice %></p>

<h1>Places</h1>

    <% if @places.any? %>
    <ul>
    <% @places.each do |place| %>

    <li> <a href="places/<%=place.fetch('id')%>"><%= place.fetch("city") %></a> </li>
      <% end %>
      </ul>
    <% else %>
    <p> no places to display </p>
    <% end %>

<br>

<%= link_to 'New Place', new_place_path %>
